body {
    background-color: #eee;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

p {
    font-weight: lighter;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.avatar {
    width: 100%;
    border-radius: 50%;

    border: 1px solid #ddd;
    padding: 2px;
}

.author {
    width: 60px;
    height: 60px;
    padding: 0px;
    border: none;
}

#social a {
    font-size: 20px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #aaa;
    background: none;
    border: 2px solid #aaa;
    width: 30px;
    height: 30px !important;
    line-height: 30px;
    font-size: 12px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

#social a:hover {
    color: #343a40;
}

#social .medium {
    color: white;
    border-color: white;
}

#social .medium:hover {
    background-color: white;
}

#social .twitter {
    color: #1DA1F2;
    border-color: #1DA1F2;
}

#social .twitter:hover {
    background-color: #1DA1F2;
}

#social .email {
    color: #b23121;
    border-color: #b23121;
}

#social .email:hover {
    background-color: #b23121;
}

#social .github {
    color: #6e5494;
    border-color: #6e5494;
}

#social .github:hover {
    background-color: #6e5494;
}

main {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 800px;
}

.bg-very-dark {
    background-color: #242a30;
}

.tooltip {
    font-weight: lighter;
}

.tooltip .tooltip-inner {
    padding: 10px;
}

#voting .btn {
    width: 28% !important;
}
