body {
    background-color: #eee;
}

p {
    font-weight: lighter;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.avatar {
    width: 100%;
    border-radius: 50%;

    border: 1px solid #ddd;
    padding: 2px;
}

.author {
    width: 60px;
    height: 60px;
    padding: 0px;
    border: none;
}

#social a {
    font-size: 20px;
    margin-right: 5px;
}

#social .medium {
    color: white;
}

main {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 600px;
}

.bg-very-dark {
    background-color: #242a30;
}

